PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Ram1234
DB_NAME=dms_db
DB_PORT=3306
JWT_SECRET=7NIgXiLhSfflQORW1eZCTC6zH03z6WrBO2KJT1rQZy6kbTWepRl5pNYjevO
JWT_EXPIRES_IN=7d
ENABLE_ADMIN_MANAGER_ROLES=true
ENABLE_DEALER_MANAGER_ROLES=true
ENABLE_DEALER_STOCK_EXCHANGE=true
ENABLE_FORGOT_PASSWORD_OTP=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=crmitsoftlab@gmail.com
MAIL_PASS=ubgygaxrcccmcfeg   
MAIL_FROM=crmitsoftlab@gmail.com
